################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RtmpPusher/x64/Debug
/RtmpPusher/Debug
/x64/Debug
/.vs/RtmpPusher/v16
/x64/Release
/RtmpPusher/x64/Release
/StreamDecoder/x64/Release
