################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RtmpPusher/x64/Debug
/RtmpPusher/Debug
/x64/Debug
/.vs/RtmpPusher/v16
/x64/Release
/RtmpPusher/x64/Release
/StreamDecoder/x64/Release
/DecodeTest/x64/Release
/DecodeTest/x64/Debug
/StreamDecoder/x64/Debug
/D3DImageDemo/obj/Debug
/D3DImageDemo/bin/Debug
/Direct3DViewer/bin/Debug
/Direct3DViewer/obj/Debug
/x64
/.vs
/Direct3DViewer/obj/Release
